<%
meta = { title:'セミナー申し込み', desc:'' };
path = '../';
directory = 'entry-seminar';
directoryLv2 = '';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<% include ../include/_head %>
<body class="<% if (directory!=='') { %>aristo-<%= directory %><% } else {%>home<% } %><% if (page!=='') { %> page-<%= page %><% } else { %> page-input<% } %>" id="top">
<% include ../include/_gtag %>
<div class="page" id="data-page">
<% include ../include/_header %>
	<main class="main contents">
		<header class="page-head">
			<div class="container">
				<h1 class="page-title"><%= meta.title %></h1>
			</div>
		</header>
		<div class="page-body">
			<div class="container">
				<div class="page-lead">
					<p>ARISTOに関するセミナー申し込みを下記フォームより受け付けております。<br>
					必要事項をご記入いただき、「入力内容を確認する」ボタンを押してください。<br>
					<span class="is--notice">必須項目は、すべて選択または入力してください。</span></p>
				</div>
				<!-- /[.page-lead] -->
<% include ../include/_block-contact %>
				<div class="contact-form">
					<nav class="step-indicator">
						<ul>
							<li class="step-indicator__item -input"><span>入力</span></li>
							<li class="step-indicator__item -confirm"><span>確認</span></li>
							<li class="step-indicator__item -complete"><span>完了</span></li>
						</ul>
					</nav>
					<!-- /[.step-indicator] -->
					
					<h2 class="section-title"><%= meta.title %></h2>
					<p class="contact-form__note">※<span class="label-required">必須</span>の入力欄は入力しなければフォームを完了できません。</p>
                    <form action="confirm.html" method="post" name="form-contact" class="form-body h-adr" id="form-contact">
                        <input type="hidden" class="p-country-name" value="Japan">
                        <div class="form-field required">
                            <div class="form-field__label">
                                <label for="seminarSchedule">参加希望日時</label>
                            </div>
                            <div class="form-field__element">
                                <div id="data-seminarSchedule">
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="8月 8日（水）18時_東京会場" id="201808081800_tokyo"><label for="201808081800_tokyo" class="label-for-radio">8/8（水）18時【アリスト京都ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="8月22日（水）14時_東京会場" id="201808221400_tokyo"><label for="201808221400_tokyo" class="label-for-radio">8/22（水）14時【自社商品ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="8月22日（水）18時_東京会場" id="201808221800_tokyo"><label for="201808221800_tokyo" class="label-for-radio">8/22（水）18時【自社商品ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="8月25日（土）14時_東京会場" id="201808251400_tokyo"><label for="201808251400_tokyo" class="label-for-radio">8/25（土）14時【税理士登壇相続対策セミナー（定員15名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="8月29日（水）14時_東京会場" id="201808291400_tokyo"><label for="201808291400_tokyo" class="label-for-radio">8/29（水）14時【自社商品ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="8月29日（水）18時_東京会場" id="201808291800_tokyo"><label for="201808291800_tokyo" class="label-for-radio">8/29（水）18時【自社商品ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月 5日（水）18時_東京会場" id="201809051800_tokyo"><label for="201809051800_tokyo" class="label-for-radio">9/5（水）18時【税理士登壇相続対策セミナー（定員15名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月 8日（土）14時_東京会場" id="201809081400_tokyo"><label for="201809081400_tokyo" class="label-for-radio">9/8（土）14時【税理士登壇相続対策セミナー（定員40名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月 9日（日）14時_大阪会場" id="201809091400_osaka"><label for="201809091400_osaka" class="label-for-radio">9/9（日）14時【税理士登壇相続対策セミナー（定員40名）】大阪会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月12日（水）18時_東京会場" id="201809121800_tokyo"><label for="201809121800_tokyo" class="label-for-radio">9/12（水）18時【税理士登壇相続対策セミナー（定員40名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月15日（土）14時_名古屋会場" id="201809151400_nagoya"><label for="201809151400_nagoya" class="label-for-radio">9/15（土）14時【税理士登壇相続対策セミナー（定員40名）】名古屋会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月16日（日）14時_京都会場" id="201809161400_kyoto"><label for="201809161400_kyoto" class="label-for-radio">9/16（日）14時【税理士登壇相続対策セミナー（定員40名）】京都会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月19日（水）14時_東京会場" id="201809191400_tokyo"><label for="201809191400_tokyo" class="label-for-radio">9/19（水）14時【アリスト京都ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月19日（水）18時_東京会場" id="201809191800_tokyo"><label for="201809191800_tokyo" class="label-for-radio">9/19（水）18時【アリスト京都ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月22日（土）14時_東京会場" id="201809221400_tokyo"><label for="201809221400_tokyo" class="label-for-radio">9/22（土）14時【アリスト京都ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月26日（水）14時_東京会場" id="201809261400_tokyo"><label for="201809261400_tokyo" class="label-for-radio">9/26（水）14時【アリスト京都ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月26日（水）18時_東京会場" id="201809261800_tokyo"><label for="201809261800_tokyo" class="label-for-radio">9/26（水）18時【アリスト京都ご案内会（定員5名）】東京会場</label></p>
                                    <p class="element-radio"><input type="radio" class="element-input-radio validate[required]" name="seminarSchedule" value="9月29日（土）14時_東京会場" id="201809291400_tokyo"><label for="201809291400_tokyo" class="label-for-radio">9/29（土）14時【アリスト京都ご案内会（定員5名）】東京会場</label></p>
                                </div>
                                <p><strong>東京会場</strong>：株式会社エー・ディー・ワークス本社<br>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br><a href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">→ Googleマップ</a></p>
                                <p><strong>大阪会場</strong>：TKPガーデンシティ東梅田　カンファレスルーム5B<br>大阪府大阪市北区曾根崎2丁目11−16<br><a href="https://www.google.co.jp/maps/place/TKP%E3%82%AC%E3%83%BC%E3%83%87%E3%83%B3%E3%82%B7%E3%83%86%E3%82%A3%E6%9D%B1%E6%A2%85%E7%94%B0/@34.7007119,135.4999624,16z/data=!4m5!3m4!1s0x0:0xdfe22ee93ffebe4f!8m2!3d34.7007119!4d135.4999624" target="_blank">→ Googleマップ</a></p>
                                <p><strong>名古屋会場</strong>：TKPガーデンシティPREMIUM名古屋ルーセントタワー　B<br>愛知県名古屋市西区 牛島町6-1 名古屋ルーセントタワー<br><a href="https://www.google.co.jp/maps/place/TKP%E3%82%AC%E3%83%BC%E3%83%87%E3%83%B3%E3%82%B7%E3%83%86%E3%82%A3PREMIUM%E5%90%8D%E5%8F%A4%E5%B1%8B%E3%83%AB%E3%83%BC%E3%82%BB%E3%83%B3%E3%83%88%E3%82%BF%E3%83%AF%E3%83%BC/@35.174955,136.881203,16z/data=!4m5!3m4!1s0x0:0xeacd8bcbcdf5aa6f!8m2!3d35.174955!4d136.881203" target="_blank">→ Googleマップ</a></p>
                                <p><strong>京都会場</strong>：TKP京都四条駅前カンファレンスセンター　カンファレンスルーム8GM<br>京都府京都市下京区立売中之町100-1 四条KMビル<br><a href="https://www.google.co.jp/maps/place/TKP%E4%BA%AC%E9%83%BD%E5%9B%9B%E6%9D%A1%E9%A7%85%E5%89%8D%E3%82%AB%E3%83%B3%E3%83%95%E3%82%A1%E3%83%AC%E3%83%B3%E3%82%B9%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/@35.0040148,135.7634994,16z/data=!4m5!3m4!1s0x0:0x7e8b92a9625175c2!8m2!3d35.0040148!4d135.7634994" target="_blank">→ Googleマップ</a></p>
                            </div>
                        </div>
                        <div class="form-field required">
                            <div class="form-field__label"><label for="name-familyName">お名前</label></div>
                            <div class="form-field__element">
                                <ul class="element--name">
                                    <li class="element--name__item">
                                        <label for="name-familyName">姓</label>
                                        <input type="text" id="data-name-familyName" class="element-input validate[required]" name="name-familyName" placeholder="姓を入力">
                                    </li>
                                    <li class="element--name__item">
                                        <label for="name-lastName">名</label>
                                        <input type="text" id="data-name-lastName" class="element-input validate[required]" name="name-lastName" placeholder="名を入力">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-field__label"><label for="kana-familyName">お名前（フリガナ）</label></div>
                            <div class="form-field__element">
                                <ul class="element--name">
                                    <li class="element--name__item">
                                        <label for="name-familyName">姓</label>
                                        <input type="text" id="data-kana-familyName" class="element-input" name="kana-familyName" placeholder="アオキ">
                                    </li>
                                    <li class="element--name__item">
                                        <label for="name-lastName">名</label>
                                        <input type="text" id="data-kana-lastName" class="element-input" name="kana-lastName" placeholder="タロウ">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-field__label"><label for="companyName">会社名</label></div>
                            <div class="form-field__element">
                                <input type="text" id="data-companyName" class="element-input-text" name="companyName" placeholder="株式会社エー・ディーワークス">
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-field__label"><label for="divisionName">部署名</label></div>
                            <div class="form-field__element">
                                <input type="text" id="data-divisionName" class="element-input-text" name="divisionName" placeholder="総務部">
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-field__label required"><label for="">ご住所</label></div>
                            <div class="form-field__element">
                                <div class="form-field--child required">
                                    <div class="form-field__label"><label for="zipcode">郵便番号</label></div>
                                    <div class="form-field__element">
                                        <input type="text" id="data-zipcode" class="element-input-zip p-postal-code validate[required]" name="zipcode" placeholder="郵便番号を入力">
                                    </div>
                                </div>
                                <div class="form-field--child required">
                                    <div class="form-field__label"><label for="address1">住所</label></div>
                                    <div class="form-field__element">
                                        <input type="text" id="data-address1" class="element-input-text p-region p-locality p-street-address p-extended-address validate[required]" name="address1" placeholder="住所を入力">
                                    </div>
                                </div>
                                <div class="form-field--child">
                                    <div class="form-field__label"><label for="address2">建物名、部屋番号等</label></div>
                                    <div class="form-field__element">
                                        <input type="text" id="data-address2" class="element-input-text" name="address2" placeholder="建物名、部屋番号等を入力">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field required">
                            <div class="form-field__label"><label for="tel">電話番号</label></div>
                            <div class="form-field__element">
                                <input type="text" id="data-tel" class="element-input-text validate[required,custom[phone]]" name="tel" placeholder="電話番号を半角数字で入力">
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-field__label"><label for="fax">FAX番号</label></div>
                            <div class="form-field__element">
                                <input type="text" id="data-fax" class="element-input-text validate[optional,custom[phone]]" name="fax" placeholder="FAX番号を半角数字で入力">
                            </div>
                        </div>
                        <div class="form-field required">
                            <div class="form-field__label"><label for="email">E-mail</label></div>
                            <div class="form-field__element">
                                <input type="text" id="data-email" class="element-input-text validate[required,custom[email]]" name="email" placeholder="foo@example.com">
                            </div>
                        </div>
                        <div class="form-field required">
                            <div class="form-field__label"><label for="email2">E-mail（確認用）</label></div>
                            <div class="form-field__element">
                                <input type="text" id="data-email2" class="element-input-text validate[required,custom[email]],equals[data-email]" name="email2" placeholder="foo@example.com">
                            </div>
                        </div>
                        <div class="form-field required">
                            <div class="form-field__label"><label for="number">参加人数</label></div>
                            <div class="form-field__element">
                                <input type="text" id="data-number" class="element-input-number validate[required,custom[number]]" name="number" placeholder="半角数字">名
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-field__label"><label for="generation">年代</label></div>
                            <div class="form-field__element -checkbox">
                                <span class="-checkbox__item"><input type="checkbox" id="data-generation20" class="element-input-checkbox" name="generation20" value="20代"><label for="data-generation20">20代</label></span>
                                <span class="-checkbox__item"><input type="checkbox" id="data-generation30" class="element-input-checkbox" name="generation30" value="30代"><label for="data-generation30">30代</label></span>
                                <span class="-checkbox__item"><input type="checkbox" id="data-generation40" class="element-input-checkbox" name="generation40" value="40代"><label for="data-generation40">40代</label></span>
                                <span class="-checkbox__item"><input type="checkbox" id="data-generation50" class="element-input-checkbox" name="generation50" value="50代"><label for="data-generation50">50代</label></span>
                                <span class="-checkbox__item"><input type="checkbox" id="data-generation60" class="element-input-checkbox" name="generation60" value="60代"><label for="data-generation60">60代</label></span>
                                <span class="-checkbox__item"><input type="checkbox" id="data-generation70" class="element-input-checkbox" name="generation70" value="70代"><label for="data-generation70">70代</label></span>
                                <span class="-checkbox__item"><input type="checkbox" id="data-generation80" class="element-input-checkbox" name="generation80" value="80代"><label for="data-generation80">80代</label></span>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-field__label"><label for="question">ご質問</label></div>
                            <div class="form-field__element">
                                <textarea name="question" id="data-question" class="element-textarea" placeholder="ご質問などがありましたらご記入ください"></textarea>
                            </div>
                        </div>
                        <div class="form-field--submit">
                            <p class="submit__information"><a href="https://www.re-adworks.com/contact/rule.html" target="_blank">利用規約</a>をお読みのうえ、内容に同意いただきましたら、<br>チェックして「入力内容を確認する」ボタンを押してください。</p>
                            <div class="submit__privacy">
                                <input type="checkbox" id="data-submit-privacy" name="privacy" class="element-input-checkbox validate[required]" value="同意"><label for="data-submit-privacy">利用規約の内容に同意します。</label>
                            </div>
                            <input type="submit" id="data-submit" class="form-submit" value="入力内容を確認する">
                        </div>
                    </form>
                </div>
				<!-- /[.contact-form]-->	
			</div>
			<!-- /[.container] -->
		</div>
	</main>
	<!-- /[.contents] -->
<% include ../include/_footer %>
</div><!-- /[.page] -->

<% include ../include/_body_last %>
<script type="text/javascript">
	$(function(){
		$('.form-body').validationEngine(
			'attach', {
				promptPosition:"bottomLeft"
			});
	});
</script>
<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
</body>
</html>
