@charset "UTF-8";
// ===================================================================
//	File:	base/_structure.scss
//	Date:	2018-04-30(+09:00)
//	Note:	
// ===================================================================
html {
	font-size: 62.5%;	// fontsize 指定は1rem=1px
	height: 100%;
	background: $base_bg_color;
	overflo-x: hidden;
}

html, body {
	height: 100%;
//	overflow-x: hidden;
	-webkit-overflow-scrolling : touch
}

body {
	@include fontsize($base_font_size);
	background: $base_bg_color;
	color: $base_text_color;
	font-family: $base_font_family;
	font-feature-settings : "palt";
	line-height: $base_line_height;
	width: 100%;
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
	@include smooth;
	//		[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		&.is-open {
			position: fixed;
			width: 100%;
			height: 100%;
		}
	}
}

.main {
	p + p {
		margin-top: 1.6em;
	}
}

.page {
	min-height: 100%;
	position: relative;
	box-sizing: border-box;
	//	[media queries sp]
	// ----------------------------------------
	@include media(sp) {
		&.no-scroll {
			overflow-y: hidden;
		}
	}
}

@mixin wrapper {
	width: 100%;
	max-width: $base_contents_width;
	margin: 0 auto;
	position: relative;
}
@mixin wrapper-1000 {
	width: 100%;
	max-width: $design_width;
	margin: 0 auto;
	position: relative;
}
@mixin wrapper-1200 {
	width: 100%;
	max-width: $site_width;
	margin: 0 auto;
	position: relative;
}
.container {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 0 $base_padding_sp;
	@include clearfix;
	//	[media queries tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		max-width: calc(#{$site_width} + 20px);
		padding: 0 10px;
	}
	//	.container__inner
	// ----------------------------------------
	@include element(inner) {
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include clearfix;
			max-width: $design_width;
			margin: 0 auto;
			padding: 0;
		}
	}
}

.block {
	box-sizing: border-box;
	position: relative;
	z-index: 10;
	max-width: 100%;
	width: calc(#{$site_width} + 20px);
	margin: 0 auto;
	padding: 100px $base_padding;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		width: 100%;
		@include calcvw(100, 'padding', 640);
		padding-right: $base_padding_sp;
		padding-left: $base_padding_sp;
	}
	&:last-child {
		padding-bottom: 0;
	}
	@at-root .page-catalogue & {
		padding: 0;
	}
}

.unit + .unit {
	margin-top: $base_padding*10;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		margin-top: $base_padding*8;
	}
}

.data-link-sp {
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		cursor: default;
	}
}

.alignR {
	@include alignR;
}
.alignC {
	@include alignC;
}
button {
	cursor: pointer;
	/* when tapping or clicking the button */
	outline: none;
	border: none;
}

img {
	height: auto;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		width: 100%;
	}
}