@charset "UTF-8";
// ===================================================================
//	File:	helpers/_variable.scss
//	Date:	2018-04-30(+09:00)
//	Note:	
// ===================================================================
// -------------------------------------------------------------------
// Color
// -------------------------------------------------------------------
// -------------------------------------------------
//		Color palette
// -------------------------------------------------
$base_corporate_color:	#003466;
$base_white_color:		#fff;
$base_black_color:		#000;


// -------------------------------------------------
//		Base
// -------------------------------------------------
$base_text_color:		#000;
$base_text_color_red:	#c00;
$base_notice_color:	#666;
$base_bg_color:		#fff;// for BG
$base_border_color:	#b5b5b5;// for BORDER
$base_table_border: #999;
$base_footer_color:	$base_corporate_color;
$base_label_color: 	#cb3333;

// -------------------------------------------------
//		Theme
// -------------------------------------------------
$base_title_color:	$base_corporate_color;

// block colors

// table width
$base_table_width:	100%;


// -------------------------------------------------
//		Link
// -------------------------------------------------
$base_link_color:		$base_corporate_color;
$base_visited_color:	$base_link_color;
$base_hover_color:		lighten($base_link_color, 20%); // ↑のhover
$base_active_color:		$base_hover_color;
$base_btn_color:		$base_corporate_color;
$base_btn_color_hover:	#09f;
$base_menu_color:		$base_corporate_color;
$base_menu_overlay:		#001932;


// -------------------------------------------------------------------
// Base Overlay Depth
// -------------------------------------------------------------------
$base_depth:	1000;
$base_radius:	4px;


// -------------------------------------------------------------------
// Image Path
// -------------------------------------------------------------------
$image_path:	"../images/";


// -------------------------------------------------------------------
// Size
// -------------------------------------------------------------------
$site_width:		1200px;
$design_width:	1000px;
$base_contents_width:	808px;
$base_table_width: 100%;



// -------------------------------------------------------------------
// Font Setting
// -------------------------------------------------------------------
$base_font_size:		16;
$base_font_family:	"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$base_font_family_mincho:	"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, serif;
$base_font_family_meiryo:	Meiryo,"メイリオ","ＭＳ Ｐゴシック",'Hiragino Kaku Gothic Pro',"ヒラギノ角ゴ Pro W3",Osaka,sans-serif;
$base_font_family_noto:	"Noto Serif";//$base_font_family_mincho;
$base_font_family_helvetica: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";
$base_font_family_m1: "Mplus 1p";

$base_line_height:	1.6;
$sp_base_font_size:	16;
$sp_base_line_height:	1.8;


// -------------------------------------------------------------------
// Padding
// -------------------------------------------------------------------
$base_padding: 10px;
$base_padding_sp: 10px;

// -------------------------------------------------------------------
// Break Point
// -------------------------------------------------------------------
$break_point_pc_max:			2560px;
$break_point_pc_min:			$site_width;
$break_point_tablet_max:		$base_contents_width - 1px;
$break_point_tablet_min:		768px;
$break_point_mobile_max:	767px;
$break_point_mobile_min:	320px;


// -------------------------------------------------------------------
// Animation
// -------------------------------------------------------------------
$IS_BASE_ANIMATION: false;
