@charset "utf-8";
// ===================================================================
//  File:	pages/_movie.scss
//  Date:	2018-05-04(UTC+9)
//  Note:	
// ===================================================================
// ----------------------------------------
//	.movie-article
// ----------------------------------------
.movie-article {
	@extend .block;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: $base_font_family_mincho;
}

// ----------------------------------------
//	.movie-unit
// ----------------------------------------
.movie-unit {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		width: 48%;
		flex-wrap: wrap;
	}
	& + & {
		margin-top: 6vw;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: 0;
		}
	}
	a {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column-reverse;
		color: $base_white_color;
		&:hover {
			color: $base_hover_color;
			.movie-unit__image:before,
			.movie-unit__image:after {
				opacity: .7;
			}
		}
	}
	@include element(title) {
		@include calcvw(10, 'margin-top');
		@include calcvw(36, 'font-size');
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: 20px;
			@include fontsize(30);
		}
	}
	@include element(image) {
		position: relative;
		width: 100%;
		height: auto;
		min-height: 0%;
		border: 1px solid #000;
		box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px 6px 6px rgba(0, 0, 0, 0.3);
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			img {
				width: 100%;height: auto;
			}
		}
		&:before {
			position: absolute;
			z-index: 2;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
			background-color: rgba(#000, .6);
			transition: all ease .3s;
		}
		&:after {
			position: absolute;
			z-index: 10;
			display: block;
			content: url(#{$image_path}common/icon_play_sp.png);
			width: 60px;
			height: 60px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			transition: all ease .3s;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				content: url(#{$image_path}common/icon_play_pc.png);
				width: 100px;
				height: 100px;
			}
		}
	}
	&:nth-child(n+3) {
		@include calcvw(80, 'margin-top');
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: 80px;
		}
	}
}