@charset "utf-8";
// ===================================================================
//  File:	pages/_pages.scss
//  Date:	2017-10-18(UTC+9)
//  Note:	
// ===================================================================
// ----------------------------------------
//	.contents
// ----------------------------------------
.contents {
	position: relative;
	padding: 0 0 320px;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		@include calcvw(240, 'padding-bottom', 640);
		font-size: 1.4rem;
	}

	// ----------------------------------------
	//	.contents__inner
	// ----------------------------------------
	@include element(inner) {
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
		}
	}

	// ----------------------------------------
	//	.page-head
	// ----------------------------------------
	.page-head {
		display: flex;
		align-items: center;
		height: 304px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(300, 'height', 640);
		}
		@at-root .home & {
			height: 674px;
			background-image: url(#{$image_path}index/bg_header.jpg);
			@include media(sp) {
				@include calcvw(674, 'height', 640);
			}
		}
		@at-root .aristo-entry-seminar & {
			background-image: url(#{$image_path}form/bg_header.jpg);
		}
		@at-root .aristo-request & {
			background-image: url(#{$image_path}form/bg_header.jpg);
		}
		@at-root .aristo-inquiry & {
			background-image: url(#{$image_path}form/bg_header.jpg);
		}
	}

	// ----------------------------------------
	//	.page-title
	// ----------------------------------------
	.page-title {
		//margin-bottom: .8em;
		text-align: center;
		font-family: $base_font_family_noto;
		@include fontsize(48);
		color: $base_corporate_color;

		//	.home .contents .page-title
		// ----------------------------------------
		@at-root .home & {
			@include fontsize(30);
			color: $base_text_color;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include calcvw(30, 'font-size', 640);
			}
		}
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include fontsize(36);
			.page-confirm &,
			.page-complete & {
				@include fontsize(32);
			}
		}
		
		//	.page-title--note
		// ----------------------------------------
		@include modifier(note) {
			@include fontsize(13);
			text-align: right;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include fontsize(10);
			}
		}
	}
	
	// ----------------------------------------
	//	.page-body
	// ----------------------------------------
	.page-body {
		padding-top: 48px;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(100, 'padding-top', 640);
		}
	}

	// ----------------------------------------
	//	.page-lead
	// ----------------------------------------
	.page-lead {
		margin-bottom: 60px;
		text-align: center;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(60, 'margin-bottom', 640);
			text-align: left;
		}
	}

	// ----------------------------------------
	//	.section-title
	// ----------------------------------------
	.section-title {
		margin-bottom: 90px;
		text-align: center;
		@include fontsize(36);
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(90, 'margin-bottom', 640);
			@include fontsize(24);
		}
	}

	// ----------------------------------------
	//	.block__title
	// ----------------------------------------
	.block__title {
		margin-bottom: 90px;
		text-align: center;
		@include fontsize(36);
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(90, 'margin-bottom', 640);
			@include fontsize(24);
		}
	}
}
