@charset "utf-8";
// ===================================================================
//  File:	pages/_pages.scss
//  Date:	2017-10-18(UTC+9)
//  Note:	
// ===================================================================
// ----------------------------------------
//	.contents
// ----------------------------------------
.contents {
	position: relative;
	padding: 0 0 320px;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		@include calcvw(240, 'padding-bottom', 640);
		font-size: 1.4rem;
	}
	@at-root .page-catalogue & {
		padding: 2%;
	}

	// ----------------------------------------
	//	.contents__inner
	// ----------------------------------------
	@include element(inner) {
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
		}
	}
    // ----------------------------------------
    //	.breadcrumb
    // ----------------------------------------
    .breadcrumb {
        //	.breadcrumb__inner
        // ----------------------------------------
        @include element(inner) {
            box-sizing: border-box;
            position: relative;
            display: flex;
            width: 100%;
            max-width: calc(#{$site_width} + 20px);
            margin: 0 auto;
            padding: 0 $base_padding;
            @include fontsize(13);
            //	[media queries SP]
            // ----------------------------------------
            @include media(sp) {
                display: flex;
                align-items: center;
            }
        }
        //	.breadcrumb__item
        // ----------------------------------------
        @include element(item) {
            span{
                display: inline-block;
                padding: .4em .6em;
            }
            &:nth-child(n+2):before {
                display: inline-block;
                content: '>';
            }
        }
    }

	// ----------------------------------------
	//	.page-head
	// ----------------------------------------
	.page-head {
		display: flex;
		align-items: center;
		height: 304px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(300, 'height', 640);
		}
		@at-root .home & {
			height: calc(674 / 1080 * 100vh );
			background-image: url(#{$image_path}index/bg_header.jpg);
			@include media(sp) {
				@include calcvw(674, 'height', 640);
			}
		}
        @at-root .teaser & {
            height: 674px;
            background-image: url(#{$image_path}index/bg_header-teaser.jpg);
            @include media(sp) {
                @include calcvw(674, 'height', 640);
            }
        }
        @at-root .kouenji & {
            height: 674px;
            background-image: url(#{$image_path}index/bg_header-kouenji.jpg);
            @include media(sp) {
                @include calcvw(674, 'height', 640);
            }
        }
        @at-root .aoyama & {
            height: 674px;
            background-image: url(#{$image_path}index/bg_header-aoyama.jpg);
            @include media(sp) {
                @include calcvw(674, 'height', 640);
            }
        }
        @at-root .aristo-entry-seminar & {
			background-image: url(#{$image_path}form/bg_header.jpg);
		}
		@at-root .aristo-request & {
			background-image: url(#{$image_path}form/bg_header.jpg);
		}
		@at-root .aristo-inquiry & {
			background-image: url(#{$image_path}form/bg_header.jpg);
		}
        @at-root .aristo-seminar & {
            margin-bottom: 0;
            background-image: url(#{$image_path}form/bg_header.jpg);
        }
        @at-root .aristo-guidance & {
            margin-bottom: 0;
            background-image: url(#{$image_path}form/bg_header.jpg);
        }
        @at-root &.teaser {
            margin-bottom: 0;
        }
	}

	// ----------------------------------------
	//	.page-title
	// ----------------------------------------
	.page-title {
		//margin-bottom: .8em;
		text-align: center;
		font-family: $base_font_family_noto;
		@include fontsize(48);
		color: $base_corporate_color;

		ruby > rt {
			font-family: $base_font_family_noto;
		}

		//	.home .contents .page-title
		// ----------------------------------------
		@at-root .home & {
			margin-top: 72px;
			@include fontsize(30);
			color: $base_text_color;
			font-weight: normal;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include calcvw(72, 'margin-top', 640);
				@include calcvw(30, 'font-size', 640);
			}
		}
        //	.teaser .contents .page-title
        // ----------------------------------------
        @at-root .teaser & {
            @include fontsize(30);
            color: $base_white_color;
            //	[media queries SP]
            // ----------------------------------------
            @include media(sp) {
                @include calcvw(30, 'font-size', 640);
            }
        }
		//	.kouenji .contents .page-title
		// ----------------------------------------
		@at-root .kouenji & {
			margin-top: 142px;
			font-weight: normal;
			@include fontsize(30);
			color: $base_white_color;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include calcvw(30, 'font-size', 640);
			}
		}
		//	.aoyama .contents .page-title
		// ----------------------------------------
		@at-root .aoyama & {
			margin-top: 142px;
			font-weight: normal;
			@include fontsize(30);
			color: $base_white_color;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include calcvw(30, 'font-size', 640);
			}
		}
        //	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include fontsize(36);
			.page-confirm &,
			.page-complete & {
				@include fontsize(32);
			}
		}
		
		//	.page-title--note
		// ----------------------------------------
		@include modifier(note) {
			@include fontsize(13);
			text-align: right;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include fontsize(10);
			}
			@at-root .home & {
				position: absolute;
				bottom: -3.2em;
				right: .6em;
			}
			@at-root .kouenji & {
				position: absolute;
				bottom: -3.2em;
				right: .6em;
			}
			@at-root .aoyama & {
				position: absolute;
				bottom: -3.2em;
				right: .6em;
			}
			@at-root .teaser & {
				bottom: .6em;
				color: #999;
			}
		}
		
		//	.page-title--alert
		// ----------------------------------------
		@include modifier(alert) {
			display: block;
			@include fontsize(14);
			text-align: center;
			line-height: .2;
			color: $base_text_color_red;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include fontsize(10);
			}
		}
	}
	
	// ----------------------------------------
	//	.page-body
	// ----------------------------------------
	.page-body {
		padding-top: 48px;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(60, 'padding-top', 640);
		}
	}

	// ----------------------------------------
	//	.page-lead
	// ----------------------------------------
	.page-lead {
		margin-bottom: 60px;
		text-align: center;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(60, 'margin-bottom', 640);
			text-align: left;
		}
	}

	// ----------------------------------------
	//	.section-title
	// ----------------------------------------
	.section-title {
		margin-bottom: 90px;
		text-align: center;
		@include fontsize(36);
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(90, 'margin-bottom', 640);
			@include fontsize(24);
		}
	}

	// ----------------------------------------
	//	.block__title
	// ----------------------------------------
	.block__title {
		margin-bottom: 90px;
		text-align: center;
		@include fontsize(36);
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(90, 'margin-bottom', 640);
			@include fontsize(24);
		}
	}

	// ----------------------------------------
	//	.block__lead
	// ----------------------------------------
	.block__lead {
		margin-bottom: 70px;
		text-align: center;
		@include fontsize(30);
		font-family: $base_font_family_noto;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(70, 'margin-bottom', 640);
			@include fontsize(20);
		}
	}
}

// ----------------------------------------
//	#section-seminars
// ----------------------------------------
.seminar-item {
	& + & {
		@include calcvw(100, 'margin-top', 640);
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: 100px;
		}
	}
	.btn {
		text-align: center;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			text-align: right;
		}
		.btn-seminar {
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				width: 100%;
			}
		}
	}
}

// ----------------------------------------
//	seminar/index.html
// ----------------------------------------
.seminar-list {
	@include wrapper-1000;
	//margin-bottom: 120px;
	&.-single {
		//max-width: 800px;
		
	}
}

.seminar-detail {
	box-sizing: border-box;
	@include calcvw(20, 'padding', 640);
	background: $base_white_color;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		padding: 4rem 2rem;
	}
	& + & {
		@include calcvw(60, 'margin-top', 640);
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: 80px;
		}
	}
	//	.seminar-detail__title
	// ----------------------------------------
	@include element(title) {
		@include calcvw(40, 'margin-bottom', 640);
		text-align: center;
		@include calcvw(28, 'font-size', 640);
		line-height: 1.4;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-bottom: 40px;
			@include fontsize(32);
		}
		@at-root .seminar-item & {
			font-weight: bold;
			@include fontsize(18);
			text-align: left;
		}
		span {
			display: block;
			font-size: 70%;
			font-weight: normal;
			@at-root .seminar-item & {
				display: inline;
				padding-left: 1em;
				font-size: 90%;
			}
		}
	}
	.btn {
		text-align: center;
		.btn-seminar {
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				width: 100%;
			}
		}
	}
	//	.seminar-detail__body
	// ----------------------------------------
	@include element(body) {
		display: flex;
		flex-wrap: wrap;
		@include calcvw(60, 'margin-bottom', 640);
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-bottom: 60px;
		}
	}
	//	.seminar-detail__meta
	// ----------------------------------------
	@include element(meta) {
		width: 100%;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			max-width: 320px;
		}
		p + p {
			margin-top: .4em;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	//	.seminar-detail__categories
	// ----------------------------------------
	@include element(categories) {
		span {
			display: inline-block;
			padding: .2em .6em;
			@include fontsize(12);
			color: $base_white_color;
			& + span {
				margin-left: .6em;
			}
		}
		&-kyoto,&-aoyama,&-kouenji {
			background-color: $base_corporate_color;
			border: 1px solid $base_corporate_color;
		}
		&-inheritance {
			background-color: $base_black_color;
			border: 1px solid $base_black_color;
		}
		&-management {
			background-color: lighten($base_black_color, 20%);
			border: 1px solid lighten($base_black_color, 20%);
		}
	}
	//	.seminar-detail__information
	// ----------------------------------------
	@include element(information) {
		width: 100%;
		margin-top: 1.6em;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			width: 100%;
			max-width: calc( 100% - 320px - 30px);
			margin-top: 0;
			@at-root .-single & {
//				max-width: 100%;
			}
		}
	}
}
//	.seminar-information
// ----------------------------------------
.seminar-information {
	width: 100%;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		display: table;
	}
	& + & {
		margin-top: 1.2em;
	}
	dt, dd {
		display: block;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			display: table-cell;
		}
	}
	dt {
		font-weight: bold;
		white-space: nowrap;
		min-width: 7em;
		@at-root .seminar-item & {
			font-weight: normal;
		}
	}
	dd {
		width: 100%;
		p + p {
			margin-top: 1em;
		}
	}
	.date {
		@include fontsize(20);
		font-weight: bold;
		@at-root .seminar-item & {
			@include fontsize(16);
			font-weight: normal;
		}
	}
}