@charset "utf-8";
// ===================================================================
//  File:	pages/_top.scss
//  Date:	2018-06-16(UTC+9)
//  Note:	
// ===================================================================
.home {
	//	.home .page-head
	// ----------------------------------------
	.page-head {
		position: relative;
	}
	
	//	.home .page-title
	// ----------------------------------------
	.page-title {
		margin-top: 72px;
		font-weight: normal;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(72, 'margin-top', 640);
		}
		ruby > rt {
			font-family: $base_font_family_noto;
		}
		@include modifier(note) {
			position: absolute;
			bottom: 1em;
			right: .6em;
			color: $base_white_color;
			text-shadow: 3px 3px 2px $base_text_color,
				-3px -3px 2px $base_text_color;
		}
	}
	
	//	.home .block-point
	// ----------------------------------------
	.block-point {
		padding-bottom: 250px;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(200, 'padding-bottom', 640);
		}
		
		//	.home .block-point .block__title
		// ----------------------------------------
		$title_color: #20428c;
		.block__title {
			position: relative;
			@include fontsize(30);
			font-family: $base_font_family_noto;
			font-weight: normal;
			color: $title_color;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include calcvw(24, 'font-size', 640);
			}
			&:before,
			&:after {
				position: relative;
				display: inline-block;
				content: '';
				width: 36px;
				height: 36px;
				border: 2px solid #035ab1;
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					width: 1.2em;
					height: 1.2em;
					border-width: 1px;
				}
			}
			&:before {
				top: -.6em;
				border-right: none;
				border-bottom: none;
			}
			&:after {
				bottom: -.6em;
				border-top: none;
				border-left: none;
			}
		}

		//	.home .block-point .block__body
		// ----------------------------------------
		.block__body {
			text-align: center;
		}

		//	.home .block-point .unit-point
		// ----------------------------------------
		.unit-point {
			position: relative;
			&:before {
				display: inline-block;
				content: '';
				position: relative;
				margin: 0 auto 2em;
				padding: .4em 1.6em;
				background: $title_color;
				@include fontsize(14);
				border-radius: 24px;
				color: $base_white_color;
				font-weight: bold;
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					@include calcvw(14, 'font-size', 640);
				}
			}

			//	.unit-point__title
			// ----------------------------------------
			@include element(title) {
				margin-bottom: 2em;
				font-family: $base_font_family_noto;
				font-weight: normal;
				@include fontsize(36);
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					@include calcvw(28, 'font-size', 640);
				}
			}

			//	.unit-point__body
			// ----------------------------------------
			@include element(body) {
				@extend .container__inner;
			}
		}
		
		//	.home .block-point .-point1
		// ----------------------------------------
		.-point1 {
			&:before {
				content: 'POINT 1';
			}
			.unit-point__title {
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					@include fontsize(60);
				}
			}
		}

		//	.home .block-point .-point2
		// ----------------------------------------
		.-point2 {
			&:before {
				content: 'POINT 2';
			}
		}
		
		.-point3 {
			&:before {
				content: 'POINT 3';
			}
		}

		.-point4 {
			&:before {
				content: 'POINT 4';
			}
		}

		//	.home .block-point .aristo-note
		// ----------------------------------------
		.aristo-note {
			padding: 1em 2em;
			border: 1px solid $base_corporate_color;
			text-align: center;
			font-family: $base_font_family_noto;
			@include fontsize(24);
			color: #036;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include calcvw(28, 'font-size', 640);
				padding: 1em .6em;
			}

			//	.home .block-point .aristo-note__appendix
			// ----------------------------------------
			@include element(appendix) {
				margin-top: .3em;
				@include fontsize(16);
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					@include calcvw(16, 'font-size', 640);
				}
			}
		}

		//	.home .block-point .unit__title
		// ----------------------------------------
		.unit__title {
			margin-bottom: 3.3em;
			font-family: $base_font_family_noto;
			@include fontsize(30);
			font-weight: normal;
			color: $base_text_color;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				@include calcvw(28, 'font-size', 640);
			}
		}
		
		//	.home .block-point .unit-point__body
		// ----------------------------------------
		.unit-point__body {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				flex-wrap: wrap;
			}
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				.unit + .unit {
					margin-top: 0;
				}
			}
			//	.unit-point
			// ----------------------------------------
			.unit-point--sub {
				width: 50%;
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					width: 100%;
					&:nth-child(n+2) {
						float: none;
					}
				}

				//	.unit-point--sub__inner
				// ----------------------------------------
				@include element(inner) {
					display: flex;
					flex-wrap: wrap;
					text-align: left;
					justify-content: center;
					margin: auto;
					//	[media queries SP]
					// ----------------------------------------
					@include media(sp) {
						width: 100%;
					}
				}
				
				//	.unit-point--sub__title
				// ----------------------------------------
				@include element(title) {
					margin-bottom: .2em;
					font-family: $base_font_family_noto;
					font-weight: normal;
					@include fontsize(36);
					color: $title_color;
					//	[media queries SP]
					// ----------------------------------------
					@include media(sp) {
						@include calcvw(28, 'font-size', 640);
					}
				}

				//	.unit-point--sub__image
				// ----------------------------------------
				@include element(image) {
					//	[media queries SP]
					// ----------------------------------------
					@include media(sp) {
					}
				}

				//	.unit-point--sub__body
				// ----------------------------------------
				@include element(body) {
					padding: 25px 20px;
					//	[media queries SP]
					// ----------------------------------------
					@include media(sp) {
						padding: .8em .6em;
					}
				}
			}
		}
	}

	//	.home .aristo-message
	// ----------------------------------------
	.aristo-message {
		margin: 120px 0 160px;
		margin-bottom: 2em;
		font-family: $base_font_family_noto;
		font-weight: normal;
		@include fontsize(36);
		line-height: 1.8;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(120, 'margin-top', 640);
			@include calcvw(160, 'margin-bottom', 640);
			@include calcvw(28, 'font-size', 640);
		}
	}
	
	.top-carousel {
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		overflow: hidden;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			width: 100%;
		}
		
		//	.top-carousel__inner
		// ----------------------------------------
		@include element(inner) {
			width: 1200px;
			margin: 0 auto;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				width: 100%;
				margin-bottom: 20px;
			}
			.slick-list {
				overflow: visible!important;
			}
		}

		//	.top-carousel__message
		// ----------------------------------------
		@include element(message) {
			box-sizing: border-box;
			width: 100%;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				position: absolute;
				top: 20%;
				@include element(inner) {
					max-width: calc(#{$site_width} + 20px);
					margin: 0 auto;
					padding: 0 10px;
					display: flex;
					justify-content: center;
					flex-direction: row-reverse;
					flex-wrap: nowrap;
					color: $base_white_color;
				}
			}
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				margin: 0 auto;
				padding: 0 $base_padding_sp;
			}
		}

		//	.top-carousel__title
		// ----------------------------------------
		@include element(title) {
			font-family: $base_font_family_noto;
			@include calcvw(28, 'font-size', 640);
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				-ms-writing-mode: tb-rl;
				writing-mode: vertical-rl;
				@include fontsize(72);
			}
		}

		//	.top-carousel__body
		// ----------------------------------------
		@include element(body) {
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				-ms-writing-mode: tb-rl;
				writing-mode: vertical-rl;
				line-height: 2.4;
			}
		}

	}
}