@charset "utf-8";
// ===================================================================
//  File:	layout/_block-contact.scss
//  Date:	2017-06-02(UTC+9)
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// .block-contact
// -------------------------------------------------------------------
.block-contact {
	box-sizing: border-box;
	max-width: $design_width;
	width: 100%;
	margin: auto;
	padding: 40px;
	border: 6px solid $base_border_color;
	text-align: center;
	@at-root .home & {
		border: none;
	}
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		width: 100%;
		@include calcvw(20, 'padding', 640);
	}

	// .block-contact__tel
	// ----------------------------------------
	@include element(tel) {
		@include fontsize(60);
		font-weight: bold;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include fontsize(36);
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			a {
				color: $base_text_color;
			}
		}
	}
	
	.business-hours {
		display: block;
	}
	.in-charge {
		display: block;
	}
	
	// .block-contact__title
	// ----------------------------------------
	@include element(title) {
		margin-top: 160px;
		margin-bottom: 1em;
		@include fontsize(36);
		text-align: center;
		color: #06c;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(160, 'margin-top', 640);
			@include calcvw(28, 'font-size', 640);
		}
	}

	// .block-contact__button
	// ----------------------------------------
	@include element(button) {
		&.btn-detail {
			display: block;
			width: 60%;
			margin: 50px auto 0;
			@include fontsize(24);
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				width: 100%;
				@include calcvw(60, 'margin-top', 640);
				@include fontsize(18);
			}
		}
	}
}