@charset "utf-8";
// ===================================================================
//  File:	layout/_block-contact.scss
//  Date:	2017-06-02(UTC+9)
//	Modified:	2020-06-05
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// .block-contact
// -------------------------------------------------------------------
.block-contact {
	box-sizing: border-box;
	max-width: $design_width;
	width: 60%;
	margin: 40px auto 0;
	padding: 20px 40px;
    border: 2px solid $base_btn_color;
	text-align: center;
	@at-root .aristo-seminar .main & {
		width: 720px;
	}
	//	[media queries PC-min]
	// ----------------------------------------
	@include media(pc-min) {
		width: 80%;
		@at-root .aristo-seminar .main & {
			width: 80%;
		}
	}
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		width: 100%;
        @include calcvw(40, 'margin-top', 640);
		@include calcvw(20, 'padding', 640);
		@at-root .aristo-seminar & {
			width: 100%;
		}
	}
	.seminar-list + & {
		margin-top: 120px!important;
	}

	// .block-contact__tel
	// ----------------------------------------
	@include element(tel) {
		@include fontsize(36);
		font-weight: bold;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include fontsize(24);
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			a {
				color: $base_text_color;
			}
		}
	}
	
	.business-hours {
		display: block;
	}
	.in-charge {
		display: block;
	}
	
	// .block-contact__title
	// ----------------------------------------
	@include element(title) {
		margin-top: 160px;
		margin-bottom: 1em;
		@include fontsize(36);
		text-align: center;
		color: #06c;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(160, 'margin-top', 640);
			@include calcvw(28, 'font-size', 640);
			@at-root .block-seminars & {
				margin-top: 0;
			}
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@at-root .block-seminars & {
			margin-top: 0;
		}
		@at-root .aristo-seminar & {
			margin-top: 0;
		}
		@at-root .aristo-entry-seminar & {
			margin-top: 0;
		}
	}
	
	// .block-contact__info
	// ----------------------------------------
	@include element(info) {
		text-align: center;
	}

	// .block-contact__buttons
	// ----------------------------------------
	@include element(buttons) {
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			display: flex;
			justify-content: space-between;
		}
		.btn-detail {
			margin: 0;
		}
		&.-two-buttons {
			.btn-detail {
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
				}
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					width: 48%!important;
				}
			}
		}
		&.-three-buttons {
			.btn-detail {
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
				}
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					width: 32%!important;
				}
			}
		}
	}

	// .block-contact__button
	// ----------------------------------------
	@include element(button) {
		&.btn-detail {
			display: block;
			width: 60%;
			margin: 50px auto 0;
            padding: 70px 1.2em;
			@include fontsize(32);
            font-weight: bold;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				@at-root .aristo-seminar .main & {
					width: 720px;
				}
			}
			//	[media queries PC-min]
			// ----------------------------------------
			@include media(pc-min) {
				width: 80%;
			}
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				width: 100%;
				@include calcvw(60, 'margin-top', 640);
				@include fontsize(18);
                @include calcvw(70, 'padding-top');
                @include calcvw(70, 'padding-bottom');
			}
            &:after {
                //	[media queries PC-tablet]
                // ----------------------------------------
                @include media(pc-tb) {
                    width: 20px;
                    height: 20px;
                }
            }
            .globalHeader & {
                padding: .6em 1.2em;
                &:after {
                    //	[media queries PC-tablet]
                    // ----------------------------------------
                    @include media(pc-tb) {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
			.-two-buttons &,
			.-three-buttons & {
				margin: 0;
				padding: 1em 1.2em;
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					@include fontsize(24);
				}
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					&:nth-child(n+2) {
						margin-top: 1em;
					}
				}
			}
        }
	}
}