@charset "utf-8";
// ===================================================================
//  File:	components/_table.scss
//  Date:	2018-06-20(UTC+9)
//  Note:	
// ===================================================================
@include media(sp) {
	.unit--table {	// スマートフォン対策
		position: relative;
		padding-top: 36px;
		.has--menu & {
			display: none;
		}
		&:before {
			position: absolute;
			top: 0;
			left: $base_padding*2;
			margin-bottom: 1em;
			padding: 0.04em 0.8em;
			background: lighten($base_corporate_color,20%);
			border-radius: 4px;
			content: '表はスクロールすることができます';
			@include fontsize(12);
			color: $base_white_color;
		}
		&__in {
			overflow-x: scroll;
			&:-webkit-scrollbar {
				height: 5px;
			}
			&:-webkit-scrollbar-track {
				border-radius: 5px;
				background: #eee;
			}
			&:-webkit-scrollbar-thumb {
				border-radius: 5px;
				background: #666;
			}
		}
	}
}


// -------------------------------------------------
// 	.outline-table
// -------------------------------------------------
.outline-table {
	@include base_table;
	tr:first-child {
		th, td {
			border-top: 1px dotted $base_table_border;
		}
	}
	th, td {
		border-bottom: 1px dotted $base_table_border;
	}
	th {
		width: 25%;
		color: #339;
		font-weight: bold;
	}
	td {
		p + p {
			margin-top: 14px;
		}
		.indent {
			margin-top: .6em;
			margin-left: 1em;
		}
	}
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		th {
			width: 100%;
			display: block;
			border: none;
			background: rgba($base_border_color, .6);
			font-weight: bold;
		}
		td {
			width: 100%;
			display: block;
			border: none;
		}
	}
	&.multi-head {
		th {
			width: 18%;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				width: 100%;
			}
		}
		.in-table {
			display: table;
			width: 100%;
			& + .in-table {
				margin-top: 1.2em;
			}
			dt, dd {
				display: table-cell;
				vertical-align: top;
				line-height: 2;
			}
			dt {
				width: 22%;
				color: #94725c;
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					width: 32%;
				}
			}
		}
	}
}

