@charset "utf-8";
// ===================================================================
//  File:	components/_unit.scss
//  Date:	2017-06-02(UTC+9)
//  Note:	
// ===================================================================
.unit {
	//	.unit__title
	// ----------------------------------------
	@include element(title) {
		position: relative;
		margin-bottom: 70px;
		font-family: $base_font_family_noto;
		font-weight: normal;
		@include fontsize(36);
		color: $base_corporate_color;
		text-align: center;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(70, 'margin-bottom', 640);
			@include calcvw(36, 'font-size', 640);
		}
		span {
			//padding-bottom: .4em;
			border-bottom: 1px solid $base_corporate_color;
			line-height: 1.8;
		}
	}
}
