@charset "utf-8";
// ===================================================================
//  File:	layout/_footer.scss
//  Date:	2018-04-30(UTC+9)
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// 	.logo-adw
// -------------------------------------------------------------------
.logo-adw {
    position: absolute;
    top: -140px;
    left: 100px;
    //	[media queries SP]
    // ----------------------------------------
    @include media(sp) {
        @include calcvw(-240, 'top');
        left: 10px;
        img {
            width: auto;
            height: auto;
        }
    }
}

// -------------------------------------------------------------------
// 	.goPageTop
// -------------------------------------------------------------------
.goPageTop {
	position: fixed;
	z-index: 999;
//	bottom: 100px;
    bottom: 20px;
	right: 10px;
	transition: opacity 0.3s ease-out, transform 0.3s ease-out;
	&[aria-hidden="true"] {
		opacity: 0;
		transform: translateY(8px);
	}
	& a {
		@include text-indent;
		width: 44px;
		height: 44px;
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			background: $base_footer_color;
			border-radius: 50%;
		}
		&:after {
			position: absolute;
			top: 16px;
			left: 12px;
			display: block;
			width: 16px;
			height: 16px;
			content: '';
			border-top: 4px solid #fff;
			border-right: 4px solid #fff;
			transform: rotate3d(0, 0, 1, -45deg);
			transition: all ease .3s;
		}
		&:hover {
			&:after {
				top: 12px;
			}
		}
	}
}


// -------------------------------------------------------------------
// 	.fixed-button
// -------------------------------------------------------------------
.fixed-button {
    position: fixed;
    z-index: 999;
    bottom: 240px;
    right: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    &[aria-hidden="true"] {
        opacity: 0;
        transform: translateX(240px);
    }
    //	[media queries SP]
    // ----------------------------------------
    @include media(sp) {
        @include calcvw(320, 'bottom', 640);
    }
    & a {
        position: relative;
        min-width: 252px;
        padding-left: 3em;
        border-radius: 4px 0 0 4px;
        transform: translateX(200px);
        //	[media queries SP]
        // ----------------------------------------
        @include media(sp) {
            transform: translateX(210px);
            opacity: .8;
            &:link,
            &:visited {
                color: $base_corporate_color;
            }
            &:hover {
                color: $base_btn_color_hover;
            }
        }
        //	[media queries PC-tablet]
        // ----------------------------------------
        @include media(pc-tb) {
            &:hover {
                transform: translateX(0);
            }
        }
        &:before {
            position: absolute;
            left: .6em;
            width: 38px;
            height: 24px;
            padding-right: .2em;
        }
        &:after {

        }
    }
    .button-request a:before {
        content: url(#{$image_path}common/icon_form.png);
    }
    .button-entry {
        transition: all ease .3s .3s;
        a:before {
            content: url(#{$image_path}common/icon_entry.png);
        }
    }
    p + p {
        margin-top: 1.2em;
    }
}

// -------------------------------------------------------------------
// 	.globalFooter
// -------------------------------------------------------------------
.globalFooter {
	position: relative;
	padding: 50px 0;
	background-color: $base_footer_color;
	@include fontsize(14);
	color: $base_white_color;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		padding: 20px 0;
		font-size: 1.2rem;
	}
	.container {
		position: relative;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
//			padding: 0 4px;
		}
	}
	a {
		@include fontsize(14);
		&:link, &:visited {
			color: $base_white_color;
		}
		&:hover {
			text-decoration: underline;
		}
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			font-size: 1.2rem;
		}
	}
	// 	.globalFooter__wrapper
	// -------------------------------------------------
	@include element(wrapper) {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-size: contain;
	}
}

// 	.footer-navi
// -------------------------------------------------
.footer-navi {
	display: flex;
	justify-content: center;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		justify-content: flex-start;
		flex-wrap: wrap;
		padding-bottom: 10px;
		border-bottom: 1px dotted #185896;
	}
	ul {
		display: flex;
		flex-wrap: nowrap;
		@include media(sp) {
			flex-wrap: wrap;
		}
	}
	//	.footer-navi__item
	// ----------------------------------------
	@include element(item) {
		padding: 0 1em;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			margin: 0 .8em .6em 0;
			padding: 0 0 0 .8em;
			border-left: 1px dotted $base_white_color;
			&:last-child {
				padding-right: .8em;
				border-right: 1px dotted $base_white_color;
			}
		}
	}
}

// 	.footer-copyright
// -------------------------------------------------
.footer-copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		justify-content: flex-start;
	}
	.footer-navi + & {
		margin-top: 1.5em;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			margin-top: 0;
		}
	}
	//	.footer-copyright__title
	// ----------------------------------------
	@include element(title) {
		@include fontsize(14);
		font-weight: normal;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			width: 100%;
			margin: 10px 0;
			padding-bottom: 10px;
			border-bottom: 1px dotted #185896;
			font-size: 1.2rem;
		}
		span {
			margin-left: 3em;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				display: block;
				margin: 0;
			}
		}
	}
	//	.footer-copyright__credit
	// ----------------------------------------
	@include element(credit) {
	}
}
