@charset "utf-8";
// ===================================================================
//  File:	layout/_header.scss
//  Date:	2018-04-30(UTC+9)
//  Note:	
// ===================================================================
.fixed .header--home {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	animation-iteration-count: 1;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		z-index: 100000;
	}
}
.header--home {
	position: relative;
	animation-iteration-count: 1;
	transition: all ease .3s;
	z-index: 100000;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		-webkit-transform: translateZ(999px);
	}
}

// -------------------------------------------------------------------
// .globalHeader
// -------------------------------------------------------------------
.globalHeader {
	width: 100%;
	position: relative;
	z-index: 2;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
	}

	// 	.globalHeader__inner
	// ----------------------------------------
	@include element(inner) {
		box-sizing: border-box;
		position: relative;
		width: 100%;
		max-width: calc(#{$site_width} + 20px);
		margin: 0 auto;
		padding: 0 $base_padding;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			padding: 0 $base_padding_sp 0 0;
		}
	}

	// .globalHeader__top
	// ----------------------------------------
	@include element(top) {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 32px 0 28px;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			flex-wrap: wrap;
			padding: 12px 0;
		}
	}
}

// 	.siteTitle
// ----------------------------------------
.siteTitle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	// .siteTItle__logo
	// ----------------------------------------
	@include element(logo) {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(120, 'width', 640);
		}
	}
	img {
		box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	}
	// .siteTitle__catch
	// ----------------------------------------
	@include element(catch) {
		padding-left: 140px;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(140, 'padding-left', 640);
			@include fontsize(14);
		}
	}
	// .siteTitle__function
	// ----------------------------------------
	@include element(function) {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			display: none;
			flex-wrap: wrap;
			justify-content: flex-end;
			@include calcvw(140, 'padding-left', 640);
		}
		// .siteTitle__function__tel
		// ----------------------------------------
		@include element(tel) {
			// .siteTitle__function__tel__number
			// ----------------------------------------
			@include element(number) {
				@include fontsize(28);
				font-weight: bold;
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					@include fontsize(24);
				}
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					a {
						color: $base_text_color;
					}
				}
			}
			// .siteTitle__function__tel__description
			// ----------------------------------------
			@include element(description) {
				@include fontsize(13);
				line-height: 1;
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					@include fontsize(12);
				}
			}
		}
		// .siteTitle__function__form
		// ----------------------------------------
		@include element(form) {
			margin-left: 24px;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				display: none;
			}
		}
	}
}

// 	ハンバーガーメニュー
// ----------------------------------------
.gNavi {
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
	}
	// 	.gNavi__body::MENU本体
	// ----------------------------------------
	@include element(body) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(670, 'width');
		}
		//	[media queries tablet]
		// ----------------------------------------
		@include media(tb) {
			flex-wrap: wrap;
			justify-content: flex-start;
			width: calc(100vw - 302px);
			.home & {
				width: 100%;
				flex-wrap: nowrap;
			}
		}
		@media screen and (min-width: 768px ) and (max-width: 1075px) {
			.home & {
				width: calc(100vw);
				flex-wrap: wrap;
			}
		}
		//	[media queries tablet-pc-small]
		// ----------------------------------------
		@include media(tb-pc-small) {
			flex-wrap: nowrap;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			padding: 18px 30px 0 3%;
			flex-wrap: nowrap;
			justify-content: flex-end;
			.home & {
//				padding-top: 0;
			}
		}
		//	[media queries tablet]
		// ----------------------------------------
		@include media(tb) {
//			padding-top: 18px;
			.home & {
//				padding-top: 12px;
			}
		}
		.home & {
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				padding-top: 16px;
				padding-left: 0;
			}
		}
	}
	// 	.gNavi__item
	// ----------------------------------------
	@include element(item) {
		position: relative;
		@include transition(all linear .5s);
		width: calc(89.33333vw / 2);
		@include calcvw(76, 'margin-bottom');
		//	[media queries tablet]
		// ----------------------------------------
		@include media(tb) {
			margin-bottom: 20px;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			flex-wrap: nowrap;
			vertical-align: bottom;
			margin-bottom: 0;
		}
		> a, > span {
			text-align: center;
			position: relative;
			box-sizing: border-box;
			display: block;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				background-image: url(#{$image_path}common/menu_pc.png);
				background-repeat: no-repeat;
			}
			img {
				width: auto;
				@include calcvw(86, 'height');
			}
		}
		> a {
			//	[media queries PC]
			// ----------------------------------------
			@include media(pc-tb) {
				position: relative;
				span {
					display: block;
					height: 48px;
				}
				&:after {
					position: absolute;
					top: 20px;
					left: 0;
					width: 100%;
					height: 0;
					background: rgba($base_link_color, .8);
					content: '';
					transform: translateX(-100%);
					border-bottom: 10px solid transparent;
					opacity: 0;
					transition: all .2s;
					z-index: -1;
				}
				&.is--current,
				&:hover {
					&:after	{
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}
		> span {
			display: block;
			height: 48px;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
			&.is--news {
				width: 65px;
				> a {
					background-position: 0 0;
				}
				> span {
					background-position: 0 -48px;
				}
			}
			&.is--story {
				width: 74px;
				> a {
					background-position: -96px 0;
				}
				> span {
					background-position: -96px -48px;
				}
			}
			&.is--cast {
				width: 143px;
				> a {
					background-position: -200px 0;
				}
				> span {
					background-position: -200px -48px;
				}
			}
			&.is--character {
				width: 135px;
				> a {
					background-position: -374px 0;
				}
				> span {
					background-position: -374px -48px;
				}
			}
			&.is--onair {
				width: 70px;
				> a {
					background-position: -540px 0;
				}
				> span {
					background-position: -540px -48px;
				}
			}
			&.is--movie {
				width: 71px;
				> a {
					background-position: -642px 0;
				}
				> span {
					background-position: -642px -48px;
				}
			}
			&.is--products {
				width: 122px;
				> a {
					background-position: -744px 0;
				}
				> span {
					background-position: -744px -48px;
				}
			}
			&.is--special {
				width: 93px;
				> a {
					background-position: -897px 0;
				}
				> span {
					background-position: -897px -48px;
				}
			}
		}
	}
}


// -------------------------------------------------------------------
// SP版メニュー
// -------------------------------------------------------------------
//	[media queries SP]
// ----------------------------------------
@include media(sp) {
	// MENUボタン
	// ----------------------------------------
	.navDrawer_btn_wrapper {
		position: fixed;
		top: 0;
		right: 0;
		height: 60px;
		z-index: 2000;
		&:after {
			background-size: contain;
			.no-scroll & {
			}
		}
	}

	.navDrawer_btn {
		width: 60px;
		height: 60px;
		padding: 0;
		color: #000;
		background-color: $base_menu_color;
		border: 0;
		outline: 0;
		transition: background-color 0.1s;

		&::after {
			content: '';
			position: absolute;
			top: 26px;
			left: 16px;
			width: 28px;
			height: 4px;
			background-color: currentColor;
		}
		span {
			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 16px;
				width: 28px;
				height: 4px;
				background-color: currentColor;
			}

			&::before {
				top: 10px;
			}

			&::after {
				top: 18px;
			}
		}

		&[aria-expanded="false"] {
			&::after {
				transition: opacity 0.1s;
			}

			span {
				&::before,
				&::after {
					animation-duration: 0.1s;
					animation-fill-mode: forwards;
				}

				&::before {
					animation-name: close-before;
					@at-root {
						@keyframes close-before {
							0% {
								transform: translateY(5px) rotate(45deg);
							}
							60% {
								transform: translateY(5px) rotate(0);
							}
							70% {
								transform: translateY(5px) rotate(0);
							}
							100% {
								transform: translateY(0) rotate(0);
							}
						}
					}
				}

				&::after {
					animation-name: close-after;
					@at-root {
						@keyframes close-after {
							0% {
								transform: translateY(-5px) rotate(-45deg);
							}
							30% {
								transform: translateY(-5px) rotate(0);
							}
							40% {
								transform: translateY(-5px) rotate(0);
							}
							100% {
								transform: translateY(0) rotate(0);
							}
						}
					}
				}
			}
		}

		&[aria-expanded="true"] {
			background: transparent;
			&::after {
				opacity: 0;
				transition: opacity 0.1s 0.1s;
			}

			span {
				&::before,
				&::after {
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
				}

				&::before {
					animation-name: open-before;
					@at-root {
						@keyframes open-before {
							0% {
								transform: translateY(0) rotate(0);
							}
							30% {
								transform: translateY(5px) rotate(0);
							}
							40% {
								transform: translateY(5px) rotate(0);
							}
							100% {
								transform: translateY(5px) rotate(45deg);
							}
						}
					}
				}

				&::after {
					top: 20px;
					animation-name: open-after;
					@at-root {
						@keyframes open-after {
							0% {
								transform: translateY(0) rotate(0);
							}
							30% {
								transform: translateY(-5px) rotate(0);
							}
							40% {
								transform: translateY(-5px) rotate(0);
							}
							100% {
								transform: translateY(-5px) rotate(-45deg);
							}
						}
					}
				}
			}
		}

		&:focus {
		}
	}

	// ドロワーナビ //
	.globalHeader__body {
		&[aria-hidden="true"] {
			transform: translateX(100%);
		}
	}
}