@charset "utf-8";
// ===================================================================
//  File:	layout/_header.scss
//  Date:	2018-04-30(UTC+9)
//  Note:	
// ===================================================================
.fixed .header--home {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	animation-iteration-count: 1;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		z-index: 100000;
	}
}
.header--home {
	position: relative;
	animation-iteration-count: 1;
	transition: all ease .3s;
	z-index: 100000;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		-webkit-transform: translateZ(999px);
	}
}

// -------------------------------------------------------------------
// .globalHeader
// -------------------------------------------------------------------
.globalHeader {
	width: 100%;
	position: relative;
	z-index: 1000;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
	}

	// 	.globalHeader__inner
	// ----------------------------------------
	@include element(inner) {
		box-sizing: border-box;
		position: relative;
		width: 100%;
//		max-width: calc(#{$site_width} + 20px);
		margin: 0 auto;
		padding: 0 $base_padding;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			display: flex;
			align-items: center;
		}
	}

	// .globalHeader__top
	// ----------------------------------------
	@include element(top) {
		box-sizing: border-box;
		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: 135px;
		padding: 10px 76px 10px 0;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			flex-wrap: wrap;
			min-height: inherit;
			padding: 12px 0;
		}
	}
	
	// 	.globalHeader__body
	// ----------------------------------------
	@include element(body) {
		box-sizing: border-box;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 100%;
		z-index: 1000;
		overflow-y: scroll;
		padding: 100px 0 60px;
		background-color: $base_menu_overlay;
		transition: transform .2s ease-out;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(100, 'padding-top', 640);
			@include calcvw(60, 'padding-bottom', 640);
		}

		//	.globalHeader__body__inner
		// ----------------------------------------
		@include element(inner) {
			box-sizing: border-box;
			width: calc( 1280 / 1920 * 100% );
			max-width: 800px;
			margin: auto;
			display: flex;
			justify-content: flex-start;
			flex-wrap: nowrap;
			//	[media queries PC-small]
			// ----------------------------------------
			@include media(pc-small) {
				width: 100%;
			}
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				width: 100%;
				padding: 0 $base_padding_sp;
				flex-wrap: wrap;
				justify-content: flex-start;
			}
		}
		.siteTitle {
			box-sizing: border-box;
			width: calc( 280 / 800 * 100% );
			padding: 0 20px;
			text-align: center;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				width: 100%;
				padding: 0 36px;
			}
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				flex: 1 0 auto;
			}
			img {
				width: auto;
			}
			//	.btn-detail
			// ----------------------------------------
			.btn-detail {
				color: $base_white_color;
				@include fontsize(16);
				width: 100%;
				margin-left: 0;
				border: 1px solid $base_white_color;
				background-color: transparent;
				& + .btn-detail {
					margin-top: 2em;
				}
				&:after {
					border-color: #999;
				}
				&:link, &:vsited {
					background-color: transparent;
				}
				&:hover, &:active {
					color: $base_white_color;
					background-color: $base_hover_color;
					&:after {
						border-color: $base_white_color;
					}
				}
			}
		}
	}
}

// 	.siteTitle
// ----------------------------------------
.siteTitle {
//    min-width: 40%;
    dl {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
        //	[media queries SP]
        // ----------------------------------------
        @include media(sp) {
            @at-root .teaser & {
                align-items: flex-start;
            }
        }
	}
	// .siteTItle__logo
	// ----------------------------------------
	@include element(logo) {
		position: relative;
		top: 0;
		left: 0;
		z-index: 2;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(120, 'width', 640);
		}
	}
	img {
//		box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	}
	// .siteTitle__catch
	// ----------------------------------------
	@include element(catch) {
		padding-left: 20px;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include calcvw(20, 'padding-left', 640);
			@include fontsize(14);
		}
	}
	// .siteTitle__function
	// ----------------------------------------
	@include element(function) {
//		display: flex;
//		flex-wrap: nowrap;
//        flex-wrap: wrap;
//        justify-content: flex-end;
//		align-items: center;
		margin: 20px 0 0 24px;
		//	[media queries PC-min]
		// ----------------------------------------
		@include media(pc-min) {
			flex-wrap: wrap;
		}
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			display: none;
			flex-wrap: wrap;
			justify-content: flex-end;
			@include calcvw(140, 'padding-left', 640);
            .teaser & {
                display: block;
                margin-left: 0;
            }
		}
		// .siteTitle__function__tel
		// ----------------------------------------
		@include element(tel) {
//			margin-right: 24px;
			//	[media queries PC-min]
			// ----------------------------------------
			@media screen and (max-width:920px) {
				margin-right: 0;
			}
			// .siteTitle__function__tel__number
			// ----------------------------------------
			@include element(number) {
                display: inline-block;
                vertical-align: middle;
				@include fontsize(28);
				font-weight: bold;
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					@include fontsize(24);
				}
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					a {
						color: $base_text_color;
					}
				}
			}
			// .siteTitle__function__tel__description
			// ----------------------------------------
			@include element(description) {
                display: inline-block;
                vertical-align: middle;
				@include fontsize(13);
				line-height: 1;
                margin-left: 1em;
				//	[media queries SP]
				// ----------------------------------------
				@include media(sp) {
					@include fontsize(12);
				}
			}
		}
		// .siteTitle__function__form
		// ----------------------------------------
		@include element(form) {
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				display: none;
			}
            a  {
                margin-bottom: 10px;
            }
		}
	}
    //	.siteTitle__announce
    // ----------------------------------------
    @include element(announce) {
        padding: .2em .4em;
        border: 4px solid #c00;
        @include fontsize(30);
        font-weight: bold;
        color: #c00;
        //	[media queries SP]
        // ----------------------------------------
        @include media(sp) {
            @include calcvw(30, 'font-size',640);
        }
    }
}

// 	ハンバーガーメニュー
// ----------------------------------------
.gNavi {
	padding: 0 6% 6%;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		box-sizing: border-box;
		width: calc( 520 / 800 * 100% );
		border-left: 1px solid $base_white_color;
	}
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		@include calcvw(80, 'margin-top', 640);
	}
	
	// 	.gNavi__body::MENU本体
	// ----------------------------------------
	@include element(body) {
	}
	
	// 	.gNavi__item
	// ----------------------------------------
	@include element(item) {
		& ul {
			padding-bottom: 1em;
		}
		&  & {
			padding-left: 2em;
		}
		> a {
			box-sizing: border-box;
			display: block;
			padding: .4em 0;
			transition: all .3s ease;
			&:link, &:visited {
				color: $base_white_color;
			}
			&:hover, &:active {
				color: #999;
			}
		}
		> span {
			box-sizing: border-box;
			display: block;
			padding: .4em 0;
			transition: all .3s ease;
			color: darken($base_white_color, 50%);
			&.-item {
				color: darken($base_white_color, 20%);
			}
		}
	}
}




// MENUボタン
// ----------------------------------------
.navDrawer_btn_wrapper {
	position: fixed;
	top: 50px;
	right: 20px;
	height: 60px;
	z-index: 2000;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		top: 30px;
		right: 0;
	}
	&:after {
		position: absolute;
		display: block;
		width: 100%;
		height: 12px;
		bottom: 12px;
		left: 0;
		text-transform: uppercase;
		content: 'MENU';
		font-size: 12px;
		text-align: center;
		.no-scroll & {
			content: 'CLOSE';
			color: #999;
		}
	}
}

.navDrawer_btn {
	width: 60px;
	height: 60px;
	padding: 0;
	color: #000;
	background-color: transparent;
	border: 0;
	outline: 0;
	transition: background-color 0.1s;

	&::after {
		content: '';
		position: absolute;
		top: 26px;
		left: 16px;
		width: 28px;
		height: 4px;
		background-color: currentColor;
	}
	span {
		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 16px;
			width: 28px;
			height: 4px;
			background-color: currentColor;
		}

		&::before {
			top: 10px;
		}

		&::after {
			top: 18px;
		}
	}

	&[aria-expanded="false"] {
		&::after {
			transition: opacity 0.1s;
		}

		span {
			&::before,
			&::after {
				animation-duration: 0.1s;
				animation-fill-mode: forwards;
			}

			&::before {
				animation-name: close-before;
				@at-root {
					@keyframes close-before {
						0% {
							transform: translateY(5px) rotate(45deg);
						}
						60% {
							transform: translateY(5px) rotate(0);
						}
						70% {
							transform: translateY(5px) rotate(0);
						}
						100% {
							transform: translateY(0) rotate(0);
						}
					}
				}
			}

			&::after {
				animation-name: close-after;
				@at-root {
					@keyframes close-after {
						0% {
							transform: translateY(-5px) rotate(-45deg);
						}
						30% {
							transform: translateY(-5px) rotate(0);
						}
						40% {
							transform: translateY(-5px) rotate(0);
						}
						100% {
							transform: translateY(0) rotate(0);
						}
					}
				}
			}
		}
	}

	&[aria-expanded="true"] {
		background: transparent;
		&::after {
			opacity: 0;
			transition: opacity 0.1s 0.1s;
		}

		span {
			&::before,
			&::after {
				color: #999;
				animation-duration: 0.2s;
				animation-fill-mode: forwards;
			}

			&::before {
				animation-name: open-before;
				@at-root {
					@keyframes open-before {
						0% {
							transform: translateY(0) rotate(0);
						}
						30% {
							transform: translateY(5px) rotate(0);
						}
						40% {
							transform: translateY(5px) rotate(0);
						}
						100% {
							transform: translateY(5px) rotate(45deg);
						}
					}
				}
			}

			&::after {
				top: 20px;
				animation-name: open-after;
				@at-root {
					@keyframes open-after {
						0% {
							transform: translateY(0) rotate(0);
						}
						30% {
							transform: translateY(-5px) rotate(0);
						}
						40% {
							transform: translateY(-5px) rotate(0);
						}
						100% {
							transform: translateY(-5px) rotate(-45deg);
						}
					}
				}
			}
		}
	}

	&:focus {
	}
}

// ドロワーナビ //
.globalHeader__body {
	&[aria-hidden="true"] {
		transform: translateX(100%);
	}
}
