<section class="unit unit-point -point2" id="point2">
	<h3 class="unit-point__title">不動産は、相続・贈与時に時価と<br class="is-sp">評価額の差が大きいことから<br>資産の圧縮効果を得ることができる。</h3>
	<p class="unit-point__image"><img src="<%= path %>images/index/image_point2.jpg" alt="イメージ：不動産は、相続・贈与時に時価と評価額の差が大きいことから資産の圧縮効果を得ることができる。"></p>
	<p class="is--notice">※図はあくまでもイメージであり、圧縮効果は不動産によって異なります。  また、税制の変更等により効果の幅も変わります。</p>
</section>
<!-- /[.unit.unit-point#point2] -->
