		<div class="block block-movie" id="section-movie">
			<div class="movie-unit">
				<a href="https://www.youtube.com/embed/7NE_mrpW6vk?rel=0&amp;wmode=transparent" class="youtube">
					<h2 class="movie-unit__title">ARISTO紹介動画<span>（再生時間：5分9秒）</span></h2>
					<p class="movie-unit__image"><img src="http://i.ytimg.com/vi/7NE_mrpW6vk/maxresdefault.jpg" alt="ARISTO紹介動画"></p>
				</a>
			</div><!-- /[.movie-unit] -->
		</div>
