			<div class="block-contact">
				<dl>
					<dt class="block-contact__lead"><% if (isForm == '') { %>お電話でのお問い合わせも受け付けております。<% } else { %>セミナー・イベントに関しては、<br class="is-sp">お電話でのお問い合わせも受け付けております。<% } %></dt>
					<dd class="block-contact__tel is--tel"><a href="tel:0120540949">0120-540-949</a></dd>
					<dd class="block-contact__conditions">
						<span class="business-hours">受付時間 9:00～18:00 （土日祝日除く）</span>
						<span class="in-charge">株式会社エー・ディー・ワークス<br>投資不動産事業本部　資産運用部</span>
					</dd>
				</dl>
			</div>
			<!-- /[.block-contact] -->
