			<div class="block-contact">
				<dl>
                    <dt class="block-contact__lead">セミナー・イベントに関しては、<br class="is-sp"> お電話でのお問い合わせの方はこちら</dt>
					<dd class="block-contact__tel is--tel"><a href="tel:0120540949">0120-540-949</a></dd>
					<dd class="block-contact__conditions">
						<span class="business-hours">受付時間 9:00～18:00 （土日祝日除く）</span>
						<span class="in-charge">株式会社エー・ディー・ワークス事業企画本部　ARISTO事業部</span></dd>
				</dl>
			</div>
			<!-- /[.block-contact] -->
