		<section class="block-flow -guidance" id="section-flow">
			<h2 class="block__title"><span>Web個別案内会の流れ</span></h2>
			<div class="block">
				<div class="block-flow__body">
					<div class="unit-flow">
						<p class="unit-flow__title">
							<span class="step">STEP1</span>
						</p>
						<div class="unit-flow__body">
							<p>インターネットにつながるパソコンと携帯電話をご用意ください。</p>
						</div>
					</div>
					<div class="unit-flow">
						<p class="unit-flow__title">
							<span class="step">STEP2</span>
						</p>
						<div class="unit-flow__body">
							<p>弊社よりお客様の携帯電話にお電話いたします。</p>
						</div>
					</div>
					<div class="unit-flow">
						<p class="unit-flow__title">
							<span class="step">STEP3</span>
						</p>
						<div class="unit-flow__body">
							<p>パソコンで「<a href="https://bell-face.com/" target="_blank">ベルフェイス</a>」に接続いただきます。<br>
								※詳しい操作方法は担当者がご案内いたします。</p>
							<div class="-guidance__images">
								<div class="-guidance__image">
									<img src="<%= path %>images/guidance/bellFace_1.jpg" alt="" class="-guidance__image__base">
								</div>
								<div class="-guidance__image">
									<img src="<%= path %>images/guidance/bellFace_2.jpg" alt="" class="-guidance__image__base">
								</div>
							</div>
						</div>
					</div>
					<div class="unit-flow">
						<p class="unit-flow__title">
							<span class="step">STEP4</span>
						</p>
						<div class="unit-flow__body">
							<p>弊社担当者とつながり、Web個別案内会を開始いたします。<br>
							※所要時間は30分から1時間程度を想定しております。</p>
						</div>
					</div>
				</div>
			</div>
		</section>