		<section class="block-faq" id="section-faq">
			<h2 class="block__title"><span>よくあるご質問</span></h2>
			<div class="block">
				<dl class="block-faq__body">
					<dt>なぜ任意組合なのですか？</dt>
					<dd>不動産特定共同事業法に基づき事業を行う上で、 不動産特定共同事業法に基づいた仕組みでの事業化が必要であり、そのひとつの仕組みが「任意組合型」です。</dd>
					<dt>出資金の元本保証はされていますか？</dt>
					<dd>元本の保証は致しません。<br>また対象不動産の価格の変動により、出資元本の欠損が生じることがあります。</dd>
					<dt>出資金は現金のみですか？</dt>
					<dd>現金のみでの払込になります。<br>また出資により保有された共有持分の移転登記はせず、共有持分に対し抵当権や質権等の担保権の設定はできません。</dd>
					<dt>分配金の保証はされていますか？</dt>
					<dd>分配金の保証は致しません。対象不動産の賃貸運営状況により分配金は変動致します。</dd>
					<dt>分配金はどのように計算されますか？</dt>
					<dd>組合での各計算期間の間に得られた賃料等の収入から、管理運営費用、理事長報酬や修繕積立金等を控除した金員を各組合員の出資持分に応じた割合で計算します。</dd>
					<dt>事業期間はどれくらいですか？</dt>
					<dd>実際の商品により異なりますが、出来るだけ長期間の運用を前提としています。<br>但し、事業期間中に市況の変化等に鑑み、 理事長の判断にて事業期間の中途で対象不動産を売却し事業を終了させる場合があります。<br>なお、その場合は理事長から投資家のみなさまに対し、事前に通知をさせていただきます。</dd>
				</dl>
			</div>
		</section>