		<footer class="block footer-information" id="section-information">
			<h2 class="block__title"><span>ご注意事項</span></h2>
			<div class="block__body">
				<ul class="disc-list">
					<li class="list__item">本商品の契約の種別は不動産特定共同事業法第2条第3項第1号に掲げる不動産特定共同事業契約（民法上の任意組合契約）であり、不動産特定共同事業者であるエー・ディー・ワークスは不動産特定共同事業契約の当事者となります。</li>
					<li class="list__item">本資料は不動産特定共同事業契約の締結の勧誘を意図するものではなく、本商品に関する費用等の負担やリスクを全て特定・示唆するものではありません。</li>
					<li class="list__item">投資判断にあたっては、不動産特定共同事業契約成立前交付書面等を入手熟読され、十分に内容をご理解された上で、必要に応じて、 顧問弁護士や顧問税理士等の専門家に意見を求めるなどし、自らのご判断で行ってください。</li>
					<li class="list__item">投資家のみなさまからの出資金が出資予定総額に満たなかった場合又はその他の事由によって取得予定日までに組合が不動産を取得できなかった場合には契約は直ちに終了し、出資金を返還する場合があります。</li>
					<li class="list__item">組合での事業の実施によって生じる損失について、投資家のみなさまは組合員として対外的に無限責任を負います。</li>
					<li class="list__item">不動産市場の変動により、組合財産である不動産を売却した場合に、売却損が発生し、出資元本の欠損が生じるおそれがあります。</li>
					<li class="list__item">経済情勢、不動産市況、組合財産である不動産の運営状況、組合財産である不動産の特性、テナントの賃料減額請求や倒産等の状況の変化により、不動産相場や賃料相場の下落、空室率の上昇、賃料の下落、賃料滞納等が発生し、賃貸利益が減少し、その結果期待された分配金の減少や出資元本の欠損、組合員の地位の譲渡価格が出資元本を下回るおそれがあります。</li>
					<li class="list__item">組合財産である不動産を管理運営するための費用の増加により、賃貸利益が減少し、その結果期待された分配金の減少や出資元本の欠損、組合員の地位の譲渡価格が出資元本を下回るおそれがあります。</li>
					<li class="list__item">税制の変更による不動産に関する税金の増加、又は組合財産である不動産に係る法令等の変更により、期待された分配金の減少や損失の発生あるいは出資元本の欠損や出資元本を上回る損失を被るおそれ、及び組合からの脱退時や組合員の地位の譲渡時に期待された税効果を得られなくなるおそれがあります。</li>
					<li class="list__item">地震等の災害により、組合財産である不動産の全部又は一部が滅失・毀損または劣化した場合及び土壌汚染等の隠れたる瑕疵が見つかった場合に、 期待された分配金の減少や出資元本の欠損、あるいは出資元本を上回る損失を被るおそれがあります。</li>
					<li class="list__item">万が一、組合財産である不動産に予期せぬ不具合が起こり、組合事業遂行のために必要不可欠な修繕等により組合の資金が不足する場合には、組合員全員の同意の下、追加出資して頂くことがあります。</li>
					<% if(directory=='kyoto') {%><li class="list__item">店舗完成予定のイメージ図は計画段階の図面をもとに描き起こされたもので、実際完成した店舗と異なる場合があります。また一部再現されていない設備等がある場合があります。</li><% } %>
				</ul>
			</div>
			<h2 class="block__title" id="section-company"><span>事業者 エー・ディー・ワークスについて</span></h2>
			<p class="block__lead">弊社は株式会社ＡＤワークスグループ（東証プライム市場：証券コード2982、資本金：62億62百万円）の100％出資子会社です。</p>
			<div class="block__body footer-information__body">
				<div class="footer-information__outline">
					<p class="footer-information__outline__item"><span class="label">社名</span><span class="body">株式会社エー・ディー・ワークス</span></p>
					<p class="footer-information__outline__item"><span class="label">所在地</span><span class="body">東京都千代田区内幸町2-2-3　日比谷国際ビル5F</span></p>
					<p class="footer-information__outline__item"><span class="label">創業</span><span class="body">1886年（明治19年) 2月</span></p>
					<p class="footer-information__outline__item"><span class="label">資本金</span><span class="body">1億円</span></p>
                  <p class="footer-information__outline__item"><span class="label">代表者</span><span class="body">代表取締役社長　鈴木俊也</span></p>
					<p class="footer-information__outline__item"><span class="label">事業内容</span><span class="body">収益不動産事業 / 不動産小口化投資商品事業 / 海外不動産事業</span></p>
					<p class="footer-information__outline__item"><span class="label">許認可</span><span class="body">宅地建物取引業　国土交通大臣（3）第8550号<br>不動産鑑定業　東京都知事（５）　第1620号<br>金融商品取引業　関東財務局長（金商）第597号<br>※第二種金融商品取引業、投資助言・代理業<br>一般不動産投資顧問業 国土交通大臣（一般）第424号<br>不動産特定共同事業 東京都知事 第96号</span></p>
					<p class="alignR">※2024年1月1日現在</p>
				</div>
			</div>
		</footer>