			<div class="block-contact__buttons -two-buttons">
				<a href="<%= path %>request/" class="btn-detail block-contact__button">資料請求はこちら</a>
				<a href="<%= path %>guidance/" class="btn-detail block-contact__button">Web個別案内会はこちら</a>
			</div>