<% movieID = 'FScUqUPoy5Y'; %>		<div class="block block-movie" id="section-movie">
			<div class="movie-unit">
				<a href="https://www.youtube.com/embed/<%= movieID %>?rel=0&amp;wmode=transparent" class="youtube">
					<h2 class="movie-unit__title">不動産小口化商品<br class="is-pc">「ARISTO」概要説明動画<span>（制作：2018年8月、再生時間：5分9秒）</span></h2>
					<p class="movie-unit__image"><img src="http://i.ytimg.com/vi/<%= movieID %>/maxresdefault.jpg" alt="ARISTO紹介動画"></p>
				</a>
			</div><!-- /[.movie-unit] -->
		</div>
