			<div class="block-contact__buttons -three-buttons">
				<a href="<%= path %>guidance/" class="btn-detail block-contact__button">Web個別案内会</a>
				<a href="<%= path %>request/" class="btn-detail block-contact__button">資料請求</a>
				<a href="<%= path %>seminar/" class="btn-detail block-contact__button">セミナー詳細</a>
			</div>