<%
update = '201805100000';
%><noscript>
<p class="data-noscript">JavaScriptの設定を有効にしてご利用ください。無効の場合、当サイトを正常にご利用できません。</p>
</noscript>

<script src="<%= path %>js/lib.js?<%= update %>"></script>
<script src="<%= path %>js/main.js?<%= update %>"></script>
