<%
update = '201905100000';
%><noscript>
<p class="data-noscript">JavaScriptの設定を有効にしてご利用ください。無効の場合、当サイトを正常にご利用できません。</p>
</noscript>

<script src="<%= path %>js/lib.js?<%= update %>"></script>
<script src="<%= path %>js/main.js?<%= update %>"></script>

<script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
<script>
	window.yjDataLayer = window.yjDataLayer || [];
	function ytag() { yjDataLayer.push(arguments); }
	ytag({
		"type":"yjad_retargeting",
		"config":{
			"yahoo_retargeting_id": "7XWYNEE8OJ",
			"yahoo_retargeting_label": ""
			/*,
    "yahoo_retargeting_page_type": "",
    "yahoo_retargeting_items":[
      {item_id: '', category_id: '', price: '', quantity: ''}
    ]*/
		}
	});
</script>

<script src="//conf.f-tra.com/fcconf/fcconf_0556_0002.js" charset="utf-8" type="text/javascript"></script>
<script src="//asset.f-tra.com/track/cta2.js" charset="utf-8" type="text/javascript"></script>
