<%
update = '201905100000';
%><noscript>
<p class="data-noscript">JavaScriptの設定を有効にしてご利用ください。無効の場合、当サイトを正常にご利用できません。</p>
</noscript>

<script src="<%= path %>js/lib.js?<%= update %>"></script>
<script src="<%= path %>js/main.js?<%= update %>"></script>

<script src="https://www.youtube.com/iframe_api"></script>
<script>
  window.onload = function() {
    const onPlayerStateChange = ({ target }) => {
      players.forEach((player, index) => {
        // targetと同じ場合はreturn
        if (target === player) return ;

        // プレイヤーのステータスを取得
        let state = player.getPlayerState();

        // プレイ中のものは再生を止める
        if (state === YT.PlayerState.PLAYING) {
          player.stopVideo();
        }
      });
    };

    const onReady = (e) => {
      // console.log(e,'ready')
    };

    var iframes = Array.from(document.querySelectorAll('iframe'));
    // console.log(iframes)

    var players = iframes.map((iframe) => {
      return new YT.Player(iframe , {
        events: {
          'onStateChange': onPlayerStateChange,
        },
      });
    });
  };
</script>

<script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
<script>
	window.yjDataLayer = window.yjDataLayer || [];
	function ytag() { yjDataLayer.push(arguments); }
	ytag({
		"type":"yjad_retargeting",
		"config":{
			"yahoo_retargeting_id": "7XWYNEE8OJ",
			"yahoo_retargeting_label": ""
			/*,
    "yahoo_retargeting_page_type": "",
    "yahoo_retargeting_items":[
      {item_id: '', category_id: '', price: '', quantity: ''}
    ]*/
		}
	});
</script>

<script src="//conf.f-tra.com/fcconf/fcconf_0556_0002.js" charset="utf-8" type="text/javascript"></script>
<script src="//asset.f-tra.com/track/cta2.js" charset="utf-8" type="text/javascript"></script>
