<%
update = '201905100000';
%><noscript>
<p class="data-noscript">JavaScriptの設定を有効にしてご利用ください。無効の場合、当サイトを正常にご利用できません。</p>
</noscript>

<script src="<%= path %>js/lib.js?<%= update %>"></script>
<script src="<%= path %>js/main.js?<%= update %>"></script>

<!-- Yahoo Code for your Target List -->
<script type=""text/javascript"" language=""javascript"">
	/* <![CDATA[ */
	var yahoo_retargeting_id = '7XWYNEE8OJ';
	var yahoo_retargeting_label = '';
	var yahoo_retargeting_page_type = '';
	var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
	/* ]]> */
</script>
<script type=""text/javascript"" language=""javascript"" src=""https://b92.yahoo.co.jp/js/s_retargeting.js""></script>

<script src="//conf.f-tra.com/fcconf/fcconf_0556_0002.js" charset="utf-8" type="text/javascript"></script>
<script src="//asset.f-tra.com/track/cta2.js" charset="utf-8" type="text/javascript"></script>