    <div class="fixed-button" id="data-fixedButton">
      <p class="button-entry"><a href="<%= path %>guidance/" class="btn-detail">Web個別案内会</a></p>
      <p class="button-request"><a href="<%= path %>request/#form-contact" class="btn-detail">資料請求</a></p>
    </div>
