	<footer class="globalFooter">
		<div class="container">
            <div class="logo-adw"><img src="https://www.re-adworks.com/images/logo.png" alt=""></div>
			<div class="goPageTop" id="data-goPageTop" aria-hidden="true">
				<a class="goPageTop__link" href="#top" data-anchorlink>ページトップへ戻る</a>
			</div>
			<div class="globalFooter__wrapper">
				<nav class="footer-navi">
					<ul>
						<li class="footer-navi__item"><a href="https://www.re-adworks.com/privacypolicy/index.html">個人情報保護方針</a></li>
						<li class="footer-navi__item"><a href="https://www.re-adworks.com/trustpolicy/index.html">勧誘方針</a></li>
						<li class="footer-navi__item"><a href="https://www.re-adworks.com/contact/kinsho.html">苦情処理措置について</a></li>
						<li class="footer-navi__item"><a href="https://www.re-adworks.com/sitepolicy/index.html">サイトポリシー</a></li>
						<li class="footer-navi__item"><a href="https://www.re-adworks.com/guide/index.html">サイトの使い方</a></li>
						<li class="footer-navi__item"><a href="https://www.re-adworks.com/ir/disclaimer.html">免責事項</a></li>
					</ul>
				</nav>
				<section class="footer-copyright">
					<h2 class="footer-copyright__title">株式会社エー・ディー・ワークス</h2>
					<p class="footer-copyright__credit">Copyright &copy; A.D.Works corporation All rights Reserved.</p>
				</section>
			</div>
		</div>
	</footer>
	<!-- /[.globalFooter] -->
