			<div class="goPageTop" id="data-goPageTop" aria-hidden="true">
				<a class="goPageTop__link" href="#top" data-anchorlink><img src="<%= path %>images/common/button_goPageTop.png" alt="ページトップへ戻る" class="goPageTop__image"></a>
			</div>