<header class="globalHeader" id="data-header">
	<div class="globalHeader__inner">
		<div class="globalHeader__top">
			<div class="siteTitle">
				<dl>
					<dt class="siteTitle__logo"><a href="<%= path %>/teaser.html" aria-label="トップページへのリンク"><img src="<%= path %>images/common/logo.jpg" alt="ロゴ：ARISTO（アリスト）"></a></dt>
                    <dd class="siteTitle__catch">東証プライム市場上場　<br class="is-sp">株式会社エー・ディー・ワークスの<br>不動産小口化商品 ARISTO</dd>
                </dl>
			</div>
			<div class="siteTitle__function">
                <p class="siteTitle__announce">8月1日販売開始</p>
			</div>
		</div>
	</div>
</header>
<!-- /[.globalHeader] -->
