	<header class="globalHeader" id="data-header">
		<div class="globalHeader__inner">
			<div class="globalHeader__top" id="data-navDrawer" aria-hidden="true">
				<div class="siteTitle">
					<dl>
						<dt class="siteTitle__logo"><a href="<%= path %>" aria-label="トップページへのリンク"><img src="<%= path %>images/common/logo.jpg" alt="ロゴ：ARISTO（アリスト）"></a></dt>
						<dd class="siteTitle__catch">エー・ディー・ワークスの<br class="is-sp">不動産小口化商品 ARISTO</dd>
					</dl>
				</div>
				<div class="siteTitle__function">
					<div class="siteTitle__function__tel is--tel">
						<p class="siteTitle__function__tel__number"><a href="tel:0120540949">0120-540-949</a></p>
						<p class="siteTitle__function__tel__description">受付時間 9:00～18:00 （土日祝日除く）</p>
					</div>
					<div class="siteTitle__function__form"><a href="<%= path %>request/" class="btn-contact">資料請求はこちら</a></div>
				</div>
			</div>
		</div>
	</header>
	<!-- /[.globalHeader] -->
